*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.projects-tabs {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

button {
    padding: 0.2rem;
}

.hidden {
    display: none;
}

.active {
    background-color: rgb(168, 105, 105);
    padding: 0.25rem;
}